@import url('https://fonts.googleapis.com/css?family=Poppins');

.container{
    margin-top: 50px;
    font-family: 'Poppins';
    }

h1{
    font-weight: 800;
    text-align: left;
    margin-left: 12%;
    margin-top: 3%;
    font-size: 14pt;
}

h2{
    font-size: 12pt;
    font-weight: 500;
    margin-left: 15%;
}

.text{
    text-align: right;
    margin-left: 15%;
}

.column{
    margin-left: 2%;
}

.textDeksripsi{
    margin-left: 12%;
    font-weight: 800;
}

.deskripsiCard{
    margin-left: 21%;
    width: 70vw;
    height:30vh;
    background-color: gainsboro;
    padding-top: 2%;
    border-radius: 8px;
}

.deskripsiColumn{
    margin-left: 2%;
    height: 5vh;
    border-radius: 5px;
}

.btn {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 5px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    float: right;
}

.default {
    border-color: black;
  }
  
  .default:hover {
    border-color: black;
    background: #e7e7e7;
  }

.tambah{
    background-color: #F5F5F5;
    text-align: right;
    margin-left: 15%;
    border-radius: 20px;
    padding-top: 10px;
    width: 50vw;
    height: 12.5vh;
}

.keterangan{
    margin-left: 5%;
}
.confirm{
    float: right;
}
.update{
    background-image: linear-gradient(to right, rgba(195, 50, 40, 0.9), rgba(59, 23, 65, 0.9),rgba(21, 24, 87, 0.9),rgba(27, 120, 191, 0.9));
    text-align: center;
    color: #fff;
    padding: 5px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;

  }

  
.tombolakhir{
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 5px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;

  }