.jarak{
    margin-top: 1%;
}

.jarak1{
    margin-top: 5%;
}

.jarak2{
    margin-top: 2%;
}

.textcolor{
    color: black;
}

h6{
    font-weight: bold;
    text-align: left;
    margin-bottom: 3%;
    padding-bottom: 10px;
    font-size: 14pt;
    border-bottom: 1px solid;
}

u{
    color: blue;
}

.garishr{
    font-weight: bold;
    text-align: left;
    font-weight: bold;
    text-align: left;
    margin-bottom: 3%;
    margin-top: 8%;
    padding-bottom: 10px;
    font-size: 14pt;
    border-bottom: 1px solid;
}

.widthcarousel{
    height: 80% !important;
    color: black !important;
}

.see-more{
    background-color: transparent; 
    border: none; 
    padding: 0; 
    text-decoration: underline; 
    color: blue;
}
<<<<<<< HEAD

h3 {
    color: blue !important;
}
=======
>>>>>>> 3ec1088da637a3cd941205e9de41e2e9dd7fec4f

.truncate {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
     }
