h1{
    font-weight: 800;
    text-align: left;
    margin-left: 12%;
    margin-top: 3%;
    font-size: 14pt;
}

h2{
    font-size: 12pt;
    font-weight: 500;
    margin-left: 15%;
}

.text{
    margin-left: 15%;
}

.column{
    margin-left: 2%;
}

.textDeksripsi{
    margin-left: 12%;
    font-weight: 800;
}

.deskripsiCard{
    margin-left: 21%;
    width: 70vw;
    height:30vh;
    background-color: gainsboro;
    padding-top: 2%;
    border-radius: 8px;
}

.deskripsiColumn{
    margin-left: 2%;
    height: 5vh;
    border-radius: 5px;
}