<!doctype html>
{%extends "baseAdmin.html"%}

{% load static %} 
    
    {% block head %} 
    <link rel="stylesheet" href="{% static 'css/adminLogin.css' %}">
    {% endblock %} 

    {%block content%} 
    
    <div class="bghome">
        <div class="container-fluid body">
            <h1 class="Login">LOGIN ADMIN</h1>  
                <form class="form-horizontal" method='POST' >
                    {% csrf_token %}
                    <div class="mb-3 fillColumn">
                        <label>Username / Email : </label>
                        <div class="col-7" >
                            <input class="form-control" name="email" type="Username/Email" />
                        </div>
                    </div>
                    <div class="mb-3 fillColumn">
                        <label>Password : </label>
                        <div class="col-7" >
                            <input class="form-control" name="password" type="Password" />
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6">
                        <button type="submit" class="btn btn-dark tombol"><b>LOGIN</b></button>
                    </div>
                </form>

        </div>
      </div>


    

    {% endblock %} 


    {%block scripts%} 

    {% endblock %}

</html>