<!doctype html>
{%extends "baseAdmin.html"%}

{% load static %} 
    
    {% block head %} 
    <link rel="stylesheet" href="{% static 'css/addeditJadwal.css' %}">
    {% endblock %} 

    {%block content%} 
    
    <div class="container">
        <h1>Informasi Jadwal Sertifikasi</h1>
        <br>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Foto Poster</label>
                <div class="col-7">
                    <input class="form-control" type="file" />
                </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Nama Judul </label>
            <div class="col-7">
                    <input class="form-control" type="Nama Judul" />
            </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Link Ms.Teams </label>
            <div class="col-7">
                    <input class="form-control"  type="Link"/>
                </div>
        </div>

        <h1>Deskripsi</h1>
        <br>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Nama Judul </label>
            <div class="col-7">
                    <input class="form-control" type="Nama Judul" />
            </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Link Ms.Teams </label>
            <div class="col-7">
                    <input class="form-control"  type="Link"/>
                </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Nama Judul </label>
            <div class="col-7">
                    <input class="form-control" type="Nama Judul" />
            </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Link Ms.Teams </label>
            <div class="col-7">
                    <input class="form-control"  type="Link"/>
                </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Nama Judul </label>
            <div class="col-7">
                    <input class="form-control" type="Nama Judul" />
            </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Link Ms.Teams </label>
            <div class="col-7">
                    <input class="form-control"  type="Link"/>
                </div>
        </div>
    </div>

    <br>
    <div class="button-container confirm" style="display: flex;">
        <button class="tombolakhir" style="margin-right: 10px" href="/adminJadwal">Kembali</button>
        <button class="tombolakhir" style="margin-right: 10px" href="/adminJadwal">Arsipkan</button>
        <button class="update" style="margin-right: 10px" href="/adminJadwal">Update</button>
    </div>
    <br>

    {% endblock %} 


    {%block scripts%} 

    {% endblock %}

</html>