<!doctype html>
{%extends "baseAdmin.html"%}

{% load static %} 
    
    {% block head %} 
    <link rel="stylesheet" href="{% static 'css/addeditJadwal.css' %}">
    {% endblock %} 

    {%block content%} 
    
    <div class="container" id="UpdateAdmin">
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Informasi Jadwal Sertifikasi</h1>
        <br>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Foto Poster</label>
                <div class="col-7">
                    <input class="form-control" value="{{jadwalSertifikasi.gambar}}" type="file" name="fotoPoster" id="fotoPoster"/>
                </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Nama Judul </label>
            <div class="col-7">
                    <input value="{{jadwalSertifikasi.judul}}" class="form-control" type="text" name="updateTitle" id="updateTitle"/>
            </div>

        <h1>Deskripsi</h1>
        <br>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Judul Deskripsi 1</label>
            <div class="col-7">
                    <input class="form-control" value="{{jadwalSertifikasi.judul1}}" type="text" name="updateJudul1" id="updateJudul1" />
            </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Isi Deskripsi 1</label>
            <div class="col-7">
                    <input class="form-control"  type="text" value="{{jadwalSertifikasi.deskripsi1}}" name="updateDeskripsi1" id="updateDeskripsi1"/>
                </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Judul Deskripsi 2</label>
            <div class="col-7">
                    <input class="form-control" type="text" value="{{jadwalSertifikasi.judul2}}" name="updateJudul2" id="updateJudul2"/>
            </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Isi Deskripsi 2</label>
            <div class="col-7">
                    <input class="form-control"  type="text" value="{{jadwalSertifikasi.deskripsi2}}" name="updateDeskripsi2" id="updateDeskripsi2"/>
                </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Judul Deskripsi 3</label>
            <div class="col-7">
                    <input class="form-control" type="text" value="{{jadwalSertifikasi.judul3}}" name="updateJudul3" id="updateJudul3"/>
            </div>
        </div>
        <div class="row mb-3 text">
            <label class="control-label col-sm-2">Isi Deskripsi 3</label>
            <div class="col-7">
                    <input class="form-control"  type="text" name="updateDeskripsi3" value="{{jadwalSertifikasi.deskripsi3}}" id="updateDeskripsi3"/>
                </div>
        </div>
        </form>
        <br>
        <div class="button-container confirm" style="display: flex;">
            <button class="tombolakhir" style="margin-right: 10px" href="/adminJadwal">Kembali</button>
            <button class="tombolakhir" style="margin-right: 10px" href="/adminJadwal">Arsipkan</button>
            <button type="submit" value="UpdateAdminPorto-0" class="update" style="margin-right: 10px">Update</button>
        </div>
        <br>
    </div> 

    

    {% endblock %} 


    {%block scripts%} 

    {% endblock %}

</html>