<!doctype html>
{%extends "base.html"%}

{%load static%} 

{%block head%} 
<link rel="stylesheet" href="{% static 'css/isiArtikel.css' %}">

{% endblock %} 
{%block content%} 


    <div class="jarak">
        <div class="container">
          <h6 class="fw-bold">Artikel</h6>
          <div class="jarakjudul">
            <div class="row">
              <div class="isi">
                  <h2 class="fw-bold">{{artikel.judul}}</h2>
                  <div class="garishr">{{artikel.tanggal}}</div>
                  <img src="../static/images/{{artikel.foto}}" width="100%" height="40%"/>
                  <br></br>
                  <p>{{artikel.isi}}</p>
                      <br></br>                
              </div>
              <div class="mb-3 row text-left">
                <h2 class="fw-bold">LEAVE A REPLY.</h2>
            </div>
            <div class="col-6"> 
              <form class="form-horizontal" method='post' onSubmit={this.handleSubmit}>
                <form action="/action_page.php">
                  <label for="name">Name (required)</label>
                  <input type="text" id="name" name="name">
              
                  <label for="email">Email (not published)</label>
                  <input type="text" id="email" name="email">

                  <label for="website">Website</label>
                  <input type="text" id="website" name="website">
              
                  <label for="comment">Comment (required)</label>
                  <textarea></textarea>
                  <input type="submit" value="Submit">
                </form>
            </form>
            </div>
            </div>
          </div>

        </div> 
      </div>
    {% endblock %}


    {% block scripts %}

    {% endblock %}
</html>