<!doctype html>
{%extends "base.html"%}

{%load static%} 

{%block head%} 
<link rel="stylesheet" href="{% static 'css/Portofolio.css' %}">

{% endblock %} 
{%block content%} 
    

<body>
    <div class="jarak">
        <div class="container">
        <h6 class="fw-bold">Portofolio</h6>
        <div class="jarak">
            <div class="row">
            <div class="col-4">
                <img src=/>
            </div>
            <div class="col-8 text-start">
                <h3 class="fw-bold">REFLEKSI STRATECOMMS TAHUN 2021: KEMENTERIAN PEDULI SERTIFIKASI PROFESI DARI BNSP</h3>
                Perkembangan sertifikasi profesi Public Relations (PR) dari Badan Nasional Sertifikasi Profesi (BNSP) sudah disadari oleh banyak kalangan masyarakat. Hal ini terlihat dari para peserta dengan berlatar belakang pekerjaan yang beragam. Namun mereka tidak hanya mengetahui dan mencari sertifikasi profesinya saja .... <a type="button" href="#"><u>read more</u></a>
                <div class="garishr">31/12/2021, 13:53 WIB</div>
            </div>
            </div>
        </div>

        <div class="jarak">
            <div class="row">
            <div class="col-4">
                <img src=/>
            </div>
            <div class="col-8 text-start">
                <h3 class="fw-bold">REFLEKSI STRATECOMMS TAHUN 2021: KEMENTERIAN PEDULI SERTIFIKASI PROFESI DARI BNSP</h3>
                Perkembangan sertifikasi profesi Public Relations (PR) dari Badan Nasional Sertifikasi Profesi (BNSP) sudah disadari oleh banyak kalangan masyarakat. Hal ini terlihat dari para peserta dengan berlatar belakang pekerjaan yang beragam. Namun mereka tidak hanya mengetahui dan mencari sertifikasi profesinya saja .... <a type="button" href="#"><u>read more</u></a>
                <div class="garishr">31/12/2021, 13:53 WIB</div>
            </div>
            </div>
        </div>

        <div class="jarak">
            <div class="row">
            <div class="col-4">
                <img src=/>
            </div>
            <div class="col-8 text-start">
                <h3 class="fw-bold">REFLEKSI STRATECOMMS TAHUN 2021: KEMENTERIAN PEDULI SERTIFIKASI PROFESI DARI BNSP</h3>
                Perkembangan sertifikasi profesi Public Relations (PR) dari Badan Nasional Sertifikasi Profesi (BNSP) sudah disadari oleh banyak kalangan masyarakat. Hal ini terlihat dari para peserta dengan berlatar belakang pekerjaan yang beragam. Namun mereka tidak hanya mengetahui dan mencari sertifikasi profesinya saja .... <a type="button" href="#"><u>read more</u></a>
                <div class="garishr">31/12/2021, 13:53 WIB</div>
            </div>
            </div>
        </div>

        </div> 
    </div>



    

    {% endblock %} 

    {%block scripts%} 

    {% endblock %}
    </body>
</html>